page-team {
    .bg{
        //background: linear-gradient(to top,#F8D2D0 0%,#fff 100%);
        //background: #F9F9F9 ;
        background: #f0e2bf;
        //background: #c9d8c5;
     }

     .card{
        //background: #F9F9F9 ;
        background: #fffef9;
         //background: #edd9c0;
     }

     .toolbar-background {
        background-color: #ff6f69;
      }

}
